body {
  text-align: center;

  background-color: blanchedalmond;
  box-sizing: border-box;
}
p {
  font-size: 50px;
  color: gray;
}
#result {
  color: green;
}
.form-control {
  width: 200px;
  margin: auto;
}
#result br {
  display: none;
}
.result {
  border-radius: 20px;

  height: auto;
  background-color: indianred;
  width: 200px;
  margin: auto;
}
.btn {
  margin-bottom: 20px;
}
